/* CSS Document */
html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;}
*{
	font-family: sans-serif;
	text-align: center;}

#contenedor {
	width: 400px;
	height: 600px;
	margin: auto;}

#zona1a,#zona1b,#zona2a,#zona2b {
	width: 200px;
	height: 250px;
	float: left;
	margin: auto;}

div img {
	width: 100px;
	height: 160px;}

#home {
	width: auto;
	height: auto ;
	margin: auto;}

#home a img {
	width: 50px;
	height: 50px;
}
#modo {
	width: 200px;
	height: auto ;
	margin: auto;}

#modo img {
	width: 100px;
	height: 40px;}

#estado {
  	width: 200px;
  	height: auto ;
  	margin: auto;}

#estado img {
  	width: 100px;
  	height: 40px;}
