/* CSS Document */
html, body {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;}
		
*{ 
	font-family: sans-serif;
	text-align: center;}
	
#contenedor {
	width: 100%;
	height: 100%;
	margin: auto;}

header {
	width: auto;
	height: auto;
	margin: auto;}
	
#iconos {
	width: 400px;
	height: 500px;
	margin: auto;}

#luces,#carpetas,#puerta,#proyector,#persianas,#fondo {
	width: 200px;
	height: auto;
	float: left;
	margin: auto;}

a img {
	width: 100px;
	height: 100px;}

#modo {
	width: 200px;
	height: auto ;
	margin: auto;}

#modo a img {
	width: 100px;
	height: 40px;}